@charset "ISO-8859-1";

html, body {
	font-family: 'Roboto Condensed', sans-serif;
}

footer {
	padding-top: 1rem;
	padding-bottom: 1rem;
}


.nav-link {
	/* text-decoration: underline; */
	border-bottom: 2px solid transparent;
}
.active {
    /* text-decoration: none; */
    border-bottom: 2px solid #007bff;
}

.resume-block {
	border-left-style: solid; /* #0077B5; */
	border-left-width: 3px;
	padding-left: 15px;
	margin-bottom: 50px;
}

.full-length {
	width: 100%;
}

summary.resume {
    display: block;
}

.cv {
	text-transform: uppercase;
}

.cv-header {
	color: inherit; /* #212529 */
}

.cv-collapse-header {
	display: block;
	width: 100%;
	cursor: pointer;
}

.education {
	border-left-color: #34A853;
}
.cv-education {
	color: #34A853;
}

.experience {
	border-left-color: #4285F4;
}
.cv-experience {
	color: #4285F4;
}

.awards {
	border-left-color: #FBBC05;
}
.cv-awards {
	color: #FBBC05;
}

.extra {
	border-left-color: #8600C8;
}
.cv-extra {
	color: #8600C8;
}

.skills {
	border-left-color: #EA4335; 
}
.cv-skills {
	color: #EA4335;
}

.interests {
	border-left-color: #BF7F3F;
}
.cv-interests {
	color: #BF7F3F;
}