@charset "ISO-8859-1";

html, body {
	font-family: 'Roboto Condensed', sans-serif;
}

.resume-block {
	border-left-style: solid; /* #0077B5; */
	border-left-width: 3px;
	padding-left: 15px;
	margin-bottom: 50px;
}

summary.resume {
    display: block;
}

.cv {
	text-transform: uppercase;
}

.cv-header {
	color: inherit; /* #212529 */
}

.education {
	border-left-color: #34A853;
}
.cv-education {
	color: #34A853;
}

.experience {
	border-left-color: #4285F4;
}
.cv-experience {
	color: #4285F4;
}

.awards {
	border-left-color: #FBBC05;
}
.cv-awards {
	color: #FBBC05;
}

.extra {
	border-left-color: #EA4335;
}
.cv-extra {
	color: #EA4335;
}

.skills {
	border-left-color: #C5C5A0;
}
.cv-skills {
	color: #C5C5A0;
}

.interests {
	border-left-color: #BF7F3F;
}
.cv-interests {
	color: #BF7F3F;
}